<div class="box">
	<form action="SimpleVoiceCallSample.php" method="GET">
		<input type="hidden" name="action" value="callStatus" />
		The call will be created in a few seconds.<br />
		Your active Session ID: {SESSION_ID}<br /><br />
		<input type="submit" value="Call status" />
	</form>
	<br />
	<form action="SimpleVoiceCallSample.php" method="GET">
		<input type="hidden" name="action" value="tearDown" />
		<input type="submit" value="Tear down the call" />
	</form>
</div>
<div class="clear"></div>