<div class="box">
	<form action="SimpleVoiceCallSample.php" method="GET">
	<input type="hidden" name="action" value="startCall" />
	Start the call for these numbers:<br />
	Number 1: <strong>{NUMBER_A}</strong><br />
	Number 2: <strong>{NUMBER_B}</strong><br /><br />
	<input type="submit" value="Start the call" />
	</form>
</div>
<div class="clear"></div>