<div class="box">
	<form action="SimpleVoiceCallSample.php" method="GET">
	The call has been ended.<br /><br />
	<input type="submit" value="Back to start page" />
	</form>
</div>
<div class="clear"></div>