<div class="box">
	<form action="SimpleVoiceCallSample.php" method="GET">
		<input type="hidden" name="action" value="callStatus" />
		Your call status:<br />
		{NUMBNER_A}: {CALL_STATUS_A}<br />
		{NUMBNER_B}: {CALL_STATUS_B}, actual number {ACTUAL_NUMBER_B}<br /><br />
		<input type="submit" value="Call status again" />
	</form>
	<br />
	<form action="SimpleVoiceCallSample.php" method="GET">
		<input type="hidden" name="action" value="tearDown" />
		<input type="submit" value="Tear down the call" />
	</form>
</div>
<div class="clear"></div>