<p>###MSG###</p>
<p><a href="SimpleOAuthSample.php?action=refresh">get token by refresh token</a> | <a href="SimpleOAuthSample.php?action=delete">delete refresh token</a></p>
<p><a href="SimpleOAuthSample.php">back to start</a></p>