<div>
	<span class="error">{MSG}</span><br /><br />
	<form action="SimpleGetChargedAmountSample.php" method="GET">
		Call ID: <input type="text" name="callId" value="" /> <input type="submit" value="get charged amount" />
		<br /><br />
	</form>
</div>

<div>
	your charge: {AMOUNT}
</div>