body {font-family: Courier New, Arial, sans-serif; font-size: 10pt;}
h1 {font-size: 14pt;}
h2 {font-size: 12pt;}
#page {padding: 10px;}
.v_box {float: left; margin: 0 10px 10px 0; padding: 10px; border: 1px solid #c0c0c0; width: 260px; height: 300px;}
.box_main {border-left: 1px solid #c0c0c0; border-top: 1px solid #c0c0c0; float: left; width: 713px;}
.box {float: left;}
.box .small, .box .middle, .box .big {padding: 10px; float: left; border-right: 1px solid #c0c0c0; border-bottom: 1px solid #c0c0c0; border-collapse: collapse;}
.box .small {width: 100px;}
.box .middle {width: 200px;}
.box .big {width: 350px;}
.box .part .left {float: left; width: 150px;}
.clear {clear: both;}
.strong {font-weight: bold;}
.error {color: red;}