<div class="box">
	<form action="SimpleValidateSmsSample.php" method="GET">
	<input type="hidden" name="action" value="getNumbers" />
	<strong>{MESSAGE}</strong>
	<br /><br />
	<input type="submit" value="Get validated numbers" />
	</form>
</div>
<div class="clear"></div>