<div class="box">
	<form action="SimpleValidateSmsSample.php" method="GET">
	<input type="hidden" name="action" value="invalidate" />
	The following numbers have been validated:<br />
	{NUMBERS}
	<br /><br />
	<input type="submit" value="Invalidate actual number" />
	</form>
</div>
<div class="clear"></div>