<div class="box">
	<form action="SimpleValidateSmsSample.php" method="GET">
	<input type="hidden" name="action" value="getKeyword" />
	Start to send a SMS with the keyword to the following number:<br />
	<strong>{NUMBER}</strong><br /><br />
	<input type="submit" value="Send SMS to get a keyword" />
	</form>
</div>
<div class="clear"></div>