<div class="box">
	<form action="SimpleValidateSmsSample.php" method="GET">
	<input type="hidden" name="action" value="validate" />
	<strong>Your phone number: {NUMBER}</strong><br /><br />
	Please confirm your Number with the following keyword:<br />
	<input type="text" name="confirm_key" value="" />
	<br /><br />
	<input type="submit" value="Confirm keyword" />
	</form>
</div>
<div class="clear"></div>