<div class="box_main">
	<div class="box">
		<div class="small strong">No.</div>
		<div class="middle strong">IP address</div>
		<div class="big strong">Location name</div>
	</div>
	<div class="clear"></div>
	{LOCATION_DATA}
</div>