<div class="box">
	<form action="ConferenceCallSample.php" method="GET" name="cc" id="cc">
		<input type="hidden" name="action" value="" />
		<input type="hidden" name="action2" value="" />
		<input type="hidden" name="nr" value="" />
		<input type="hidden" name="participantId" value="" />
		
		<span class="error">{MESSAGE}</span><br /><br />
		
		<h2>Status</h2>
		{STATUS_CONTENT}
		<hr />
		
		<h2>Create call</h2>
		Conference ID: {CONFERENCE_ID}<br /><br />
		<input type="button" value="Create new call" onclick="document.cc.action.value='createConference'; document.cc.submit();" />
		<hr />
		
		<h2>Participants</h2>
		
		<div>1. {NUMBER1} <input type="button" value="add Participant" onclick="document.cc.action.value='addParticipant'; document.cc.nr.value='0'; document.cc.submit();" /></div>
		<div>2. {NUMBER2} <input type="button" value="add Participant" onclick="document.cc.action.value='addParticipant'; document.cc.nr.value='1'; document.cc.submit();" /></div>
		<div>3. {NUMBER3} <input type="button" value="add Participant" onclick="document.cc.action.value='addParticipant'; document.cc.nr.value='2'; document.cc.submit();" /></div>
		<hr />
		
		<h2>Commit conference</h2>
		<input type="button" value="Commit conference" onclick="document.cc.action.value='commitConference'; document.cc.submit();" />
		<hr />
		
		<h2>Update conference</h2>
		<input type="button" value="Update conference" onclick="document.cc.action.value='updateConference'; document.cc.submit();" />
		<hr />
		
		<h2>Running conference</h2>
		<input type="button" value="Get running conference" onclick="document.cc.action.value='getRunningConference'; document.cc.submit();" />
		<hr />
		
		<h2>Conference list</h2>
		<input type="button" value="Get conference list" onclick="document.cc.action.value='getConferenceList'; document.cc.submit();" />
		<hr />
		
		<h2>Tear down the call</h2>
		<input type="button" value="Tear down the call" onclick="document.cc.action.value='tearDown'; document.cc.submit();" />
		<hr />
		
	</form>
</div>
<div class="clear"></div>
