<div class="box">
	<form action="ConferenceTemplateSample.php" method="GET" name="cc" id="cc">
		<input type="hidden" name="action" value="" />
		<input type="hidden" name="action2" value="" />
		<input type="hidden" name="nr" value="" />
		<input type="hidden" name="participantId" value="" />
		
		<span class="error">{MESSAGE}</span><br /><br />
		
		<h2>Status</h2>
		Template ID: {TEMPLATE_ID}
		<hr />
		
		<h2>Create template</h2>
		<input type="button" value="Create new template" onclick="document.cc.action.value='createTemplate'; document.cc.submit();" />
		<hr />
		
		<h2>Get Template</h2>
		<input type="button" value="Get template" onclick="document.cc.action.value='getTemplate'; document.cc.submit();" />
		<hr />
		
		<h2>Update Template</h2>
		<input type="button" value="Update template" onclick="document.cc.action.value='updateTemplate'; document.cc.submit();" />
		<hr />
		
		<h2>Add participant</h2>
		<input type="button" value="Add participant" onclick="document.cc.action.value='addParticipant'; document.cc.submit();" />
		<hr />
		
		<h2>Get participant</h2>
		<input type="button" value="Get participant" onclick="document.cc.action.value='getParticipant'; document.cc.submit();" />
		<hr />
		
		<h2>Update participant</h2>
		<input type="button" value="Update participant" onclick="document.cc.action.value='updateParticipant'; document.cc.submit();" />
		<hr />
		
		<h2>Delete participant</h2>
		<input type="button" value="Delete participant" onclick="document.cc.action.value='deleteParticipant'; document.cc.submit();" />
		<hr />
		
		<h2>Template list</h2>
		<input type="button" value="Get template list" onclick="document.cc.action.value='getTemplateList'; document.cc.submit();" />
		<hr />
		
		<h2>Delete conference template</h2>
		<input type="button" value="Delete template" onclick="document.cc.action.value='deleteTemplate'; document.cc.submit();" />
		<hr />
		
	</form>
</div>
<div class="clear"></div>
