<div class="box">
	<form action="ConferenceAnnouncementSample.php" method="GET" name="cc" id="cc">
		<input type="hidden" name="action" value="" />
		
		<span class="error">{MESSAGE}</span><br /><br />
		
		<h2>Announcement list</h2>
		<input type="button" value="Show list" onclick="document.cc.action.value=''; document.cc.submit();" /><br /><br />
		{ANNOUNCEMENT_LIST}<br />
		<hr />
		
		<h2>Upload new WAV file</h2>
		<input type="button" value="Upload WAV" onclick="document.cc.action.value='uploadAnnouncement'; document.cc.submit();" />
		<hr />
		
	</form>
</div>
<div class="clear"></div>
