<div class="part">
	<div class="left">{NUMBER}</div>
	<div class="left">{FIRST_NAME} {LAST_NAME}</div>
	<div class="left">{STATUS}</div>
	<div class="left"><input type="button" value="get Participant status" onclick="document.cc.action.value='getStatus'; document.cc.action2.value='getParticipantStatus'; document.cc.participantId.value='{PARTICIPANT_ID}'; document.cc.submit();" /></div>
	<div class="left"><input type="button" value="update Participant" onclick="document.cc.action.value='getStatus'; document.cc.action2.value='updateParticipant'; document.cc.participantId.value='{PARTICIPANT_ID}'; document.cc.submit();" /></div>
	<div class="left"><input type="button" value="remove Participant" onclick="document.cc.action.value='getStatus'; document.cc.action2.value='removeParticipant'; document.cc.participantId.value='{PARTICIPANT_ID}'; document.cc.submit();" /></div>
</div>
<div class="clear"></div>
