<div class="box_main">
	<div class="box">
		<div class="small strong">ID</div>
		<div class="middle strong">Name</div>
		<div class="big strong">Text</div>
	</div>
	<div class="clear"></div>
	{LOOKUP_DATA}
</div>