<h2>Brand {BRAND_NAME} (ID: {BRAND_ID}, {NUM_MODELS} models)</h2>
<div class="box_main">
	<div class="box">
		<div class="small strong">ID</div>
		<div class="middle strong">Model</div>
		<div class="big strong">Brand</div>
	</div>
	{MODEL_DATA}
</div>
<div class="clear"><br /></div>